# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore yougit  virtual environment
venv/
env/
ENV/

# Ignore SQLite database file
*.db

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
